<widget id="com.kmedia.fucs" version="1.2.2" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>fucsapp</name>
  <description>A sample Apache Cordova application that responds to the deviceready event.</description>
  <author email="mposadar@gmail.com" href="https://mposadar.wordpress.com/about/">Miguel Angel Posada</author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>